@media (min-width: 769px) {
.title
{
  display: flex;
  
  width: fit-content;
}
.container{
  flex-direction: column;
 

 } 
}

@media (min-width: 1025px){
.footer{
display:flex


}

}

.container {
  display:flex;
  height: 100px;
  flex-direction:column;
  width:100px;


}

html {
 font-size: 1.25em;
} 
img {
    width: 100%;
    float:center;
}
    body {
      background-color:royalblue ;
        font-family: "fantasy, geneva, san-serif";
        font-weight: 700;
        line-height: 150%;
        margin: auto; 
       padding-top: 60px;
       padding-bottom: 40px;
        flex-direction: column;
        
    }
    
  h1, h2, h3 {
    font-family:'Times New Roman', Times, serif ;
    font-size: 1rem;
    justify-content: center;
  align-items: center;
  display: inline-block;
  margin: auto;
  }

  header{
   top: 0;
   left: 0;
   position: fixed;
   width: 100%;
   background-color: rgb(2, 88, 45);
   color:seashell;
   border-bottom: saddlebrown;
   padding: 10px 15px;

  }
  
  h1{
    display:inline-block;
    width: 30%;
    padding: 10px 0;
    background-color: indigo;
    background-image: url('img/image0.jpg');
  }
  h2{
    display:inline-block;
    width: 30%;
    padding: 10px 0;
    background-color: midnightblue;
  }
  h3{
    width: 30;
    display: inline-block;
    background-color: olivedrab;
    padding: 10px 0;
  }
  
  
  footer{
    z-index: -1;
margin: auto;
bottom: 0;
position: absolute;
  }
  title{
    padding: 3vh ;
    border: seagreen;
    display: flex;
    align-self: center;
    width: 100%;
    font-style:italic ;
    font-stretch: normal;
    font-size: 2rem;
  }
  .general{
    width: 100px; 
    height:100px;
    background-repeat: no-repeat;
    background-image:url("C:\Users\kalek\OneDrive\Pictures\image4[687].jpeg"),blue,green ;
   
  }
  .form{
padding-bottom: 0%;
display: block;
margin-bottom: 0%;
  }