 body {

margin: 20;
}

header {
text-align :center;
font-size: 60px;
background-color: rgb(9, 9, 212);
}
@media screen and (min-width: 600px) and (max-width:1080px) {
header {
    color:chocolate;

}
}
@media  screen and  (max-width:580px) {
  header{   
color: red;}
}

style 
 #leftbox{
     float:left
 }
    #middlebox {
        float:middle;
    }

    #rightbox{
       float:right;
    }